<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exploremaking.apps.imacontroller"
    android:versionCode="2"
    android:versionName="2.1">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name="com.exploremaking.apps.imacontroller.BluetoothChooser"
            android:label="@string/title_activity_bluetooth_chooser"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.exploremaking.apps.imacontroller.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exploremaking.apps.imacontroller.ControllerActivity"
            android:label="ControllerActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.exploremaking.apps.imacontroller.WifiActivity"
            android:label="WifiActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.exploremaking.apps.imacontroller.AboutPage"
            android:label="aboutpage"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".VehicleChooser"
            android:label="vehicleChooser"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
